@using PagedList.Core
@model PagedList<ResultBlogDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="hero overlay inner-page bg-primary py-5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center pt-5">
            <div class="col-lg-6">
                <h1 class="heading text-white mb-3" data-aos="fade-up">Blogs</h1>
            </div>
        </div>
    </div>
</div>

<div class="section search-result-wrap">
    <div class="container">

        <div class="row posts-entry">
            <div class="col-lg-8">
                @foreach(var item in Model)
                {
                    

                <div class="blog-entry d-flex blog-entry-search-item">
                    <a href="/Blog/BlogDetails/@item.Id" class="img-link me-4">
                        <img src="@item.CoverImage" alt="@item.Title" class="img-fluid">
                    </a>
                    <div>
                        <span class="date">@item.CreatedDate.ToShortDateString() &bullet; <a href="/Blog/GetBlogsByCategory/@item.CategoryId">@item.Category.CategoryName</a></span>
                        <h2><a href="/Blog/BlogDetails/@item.Id">@item.Title</a></h2>
                        <p>@(item.Description.Length > 100 ? item.Description.Substring(0,100) + "..." : item.Description)</p>
                        <p><a href="/Blog/BlogDetails/@item.Id" class="btn btn-sm btn-outline-primary">Read More</a></p>
                    </div>
                </div>

                }
                

                <div class="row text-start pt-5 border-top">
                    <div class="col-md-12">
                        <pager asp-action="Index" asp-controller="Blog" list="@Model"></pager>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 sidebar">

                <div class="sidebar-box search-form-wrap mb-4">
                    <form action="#" class="sidebar-search-form">
                        <span class="bi-search"></span>
                        <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                    </form>
                </div>
                <!-- END sidebar-box -->

                <!-- Popular Posts - En Son Eklenen 3 Blog -->
                <div class="sidebar-box">
                    <h3 class="heading">Popular Posts</h3>
                    <div class="post-entry-sidebar">
                        <ul>
                            @if (ViewBag.LatestBlogs != null)
                            {
                                @foreach (var blog in ViewBag.LatestBlogs)
                                {
                                    <li>
                                        <a href="/Blog/BlogDetails/@blog.Id">
                                            <img src="@blog.CoverImage" alt="@blog.Title" class="me-4 rounded">
                                            <div class="text">
                                                <h4>@(blog.Title.Length > 50 ? blog.Title.Substring(0, 50) + "..." : blog.Title)</h4>
                                                <div class="post-meta">
                                                    <span class="mr-2">@blog.CreatedDate.ToShortDateString()</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <!-- END sidebar-box -->

                <!-- Categories - Kategori Listesi ve Blog Sayıları -->
                <div class="sidebar-box">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories">
                        @if (ViewBag.Categories != null)
                        {
                            @foreach (var category in ViewBag.Categories)
                            {
                                <li>
                                    <a href="/Blog/GetBlogsByCategory/@category.Id">
                                        @category.CategoryName <span>(@category.BlogCount)</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <!-- END sidebar-box -->

                <!-- Tags - Tag Listesi ve Blog Sayıları -->
                <div class="sidebar-box">
                    <h3 class="heading">Tags</h3>
                    <ul class="tags">
                        @if (ViewBag.Tags != null)
                        {
                            @foreach (var tag in ViewBag.Tags)
                            {
                                @if (tag.BlogCount > 0)
                                {
                                    <li><a href="#">@tag.Name</a></li>
                                }
                            }
                        }
                    </ul>
                </div>
                <!-- END sidebar-box -->

            </div>
        </div>
    </div>
</div>
